<app-navbar></app-navbar>

<div class="row">
	<div class="container">
		<h3> Sistema de Cadastramento de Novos Treinadores </h3>
		<div class = "col l6">
			<p> Cras sagittis et nunc eu ullamcorper. Suspendisse gravida condimentum tempus. Maecenas volutpat massa a odio porta, et semper quam semper. Quisque tellus ligula, ullamcorper hendrerit lacus et, semper sodales nibh. Aenean vel volutpat metus. Aliquam in tempor diam. Maecenas efficitur metus rhoncus nulla placerat, in gravida justo tristique.</p>
		</div>
		<div class = "col l6">
			<p>Nam vestibulum non arcu quis placerat. Nunc sit amet tellus mauris. Integer sed maximus massa. Donec in sem sapien. Pellentesque scelerisque eros ut ornare gravida. Fusce et pellentesque ligula, cursus ullamcorper ipsum. Donec mattis massa nibh, sed fringilla lectus egestas id. Donec congue dolor non neque iaculis posuere. Nullam gravida pulvinar felis, id consequat mi egestas ac.</p>
		</div>
	</div>
</div>
<app-modal></app-modal>
